h1 {
    background-color: lightblue;
    
}    

h2 {
    background-color: lightblue;
    font-size: 30px;
}

h3 {
    background-color: lightblue;
    font-size: 30px; 
}

.scoreShow {
    background-color: lightblue;
}

button {
    background-color: lightblue;
    font-size: 30px;
}

#main {
    background-color: lightblue;
    font-size: 30px;
}

p {
    background-color: lightblue;
    font-size: 40px;
    margin: 6px;
 padding: 10px;
    width: 35%;

}